<h1>商品一覧</h1>

<table>
  <tr>
    <th>商品ID</th>
    <th>商品名</th>
    <th>税抜価格</th>
    <th>ジャンル</th>
    <th>ステータス</th>
  </tr>
  
  <!--eachで繰り返し処理をする-->
  <tr>
    <td>1</td>
    <td>おいしいあめ</td>
    <td>100</td>
    <td>キャンディ</td>
    <td>販売中</td>
  </tr>
</table>