<h1>oe</h1><div class="container mt-4">
  <h2>注文履歴一覧</h2>

  <table class="table m-4">
    <tr class="table-light">
      <th style="width: 20%">購入日時</th>
      <th style="width: 25%">購入者</th>
      <th style="width: 20%">注文個数</th>
      <th style="width: 20%">注文ステータス</th>
    </tr>

    <% @orders.zip(@order_items) do |order, order_item| %>
    <tr>
      <td><%= link_to order.created_at.strftime('%Y/%m/%d %H:%M:%S'), admin_order_path(order.id) %></td>
      <td><%= order.customer.name %></td>
      <!--各注文個数の合計を出したい-->
      <td><%= order_item.amount %></td>
      <td><%= order.status_i18n %></td>
    </tr>
    <% end %>
  </table>

</div>