<table class="table border">
  <tr>
    <th>ジャンル検索</th>
  </tr>
  <% genres.each do |genre| %>
    <tr>
      <%= form_tag items_path, :method => 'get' do %>
        <td><%= link_to genre.name, search_path('search[value]': genre.id, 'search[how]': "match") %></td>
      <% end %>
    </tr>
  <% end %>
</table>